@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  transition: background .2s linear, color .2s linear;
}

.App {
  width: min(100% - 2rem, 300px);
  margin-inline: auto;
  text-align: center;
}

.title {
  font-size: 48px;
  margin: 2rem 0 1rem;
}

.subtitle {
  font-size: 24px;
  margin: 0 0 3rem;
}

.list {
  padding: 0;
  list-style: none;
  text-align: left;
}

.list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.item-check {
  margin-right: .5rem;
}

.list__title {
  outline: none;
}

.remove-button {
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  transition: color .2s;
}

.remove-button:hover {
  color: red;
}

.add-button {
  background: #1887EE;
  color: #fff;
  padding: 0.8rem 4rem;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

.add-button:hover {
  background: #167edf;
}

.add-button:active {
  transform: translateY(1px);
}

.toggle-theme-button {
  position: fixed;
  top: 0;
  right: 0;
  margin-inline: auto;
  border: none;
  background: none;
  color: inherit;
  font-size: 2rem;
  cursor: pointer;
}