@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.App {
  width: min(100% - 2rem, 350px);
  margin-inline: auto;
  text-align: center;
}

.list {
  list-style: none;
  text-align: left;
}

.add-button {
  background: #1887EE;
  color: #fff;
  padding: 0.8rem 4rem;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

.add-button:hover {
  background: #167edf;
}

.add-button:active {
  transform: translateY(1px);
}